
        
        .rounded{border-radius: 30%;
        }
        
        .p{
            text-align: center;
            font-family: Consolar;
        }
        
        body{
            text-align: center;
            background-color:rgba(150, 106, 81, 0.288);
        }
        
        h1,h2 {
            text-align: center;
            color:brown;
            font-family:Cooper Black;
            font-size: 55px;
        }
        
        
        
